[user]
    email = work@sorawitk.com
    name = Sorawit Kongnurat

[github]
    user = mapringg

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = upstream

[rebase]
    autoStash = true

[alias]
    a = add
    br = branch
    c = commit
    d = diff
    f = fetch
    lg = log
    lgg = log --oneline --decorate --graph --parents
    lo = log --oneline
    m = merge
    ps = push
    pl = pull
    rb = rebase
    r = remote
    rs = reset
    sw = switch
    st = status
    aliases = !git config --get-regexp ^alias\\.
