.claude/**
.codex/**
.gemini/**
.qwen/**

!.claude/commands/
!.claude/commands/**
!.claude/CLAUDE.md
!.claude/settings.json
!.claude/statusline.sh
!.codex/config.toml
!.gemini/settings.json
!.qwen/settings.json
