[core]
    editor = cursor --wait

[user]
    email = work@sorawitk.com
    name = Sorawit Kongnurat

[github]
    user = mapringg

[diff]
    colorMoved = default

[init]
    defaultBranch = main

[pull]
    rebase = true

[push]
    default = upstream

[rebase]
    autoStash = true
